:root {
	font-family: "arial";
	font-size: 14px;
	font-weight: 540;
}

#header {
	position:relative;
	width: 100%;
}

#left-header {
	padding: 10px;
	margin: 5px;
	position: relative;
	float: left;
	word-spacing: 10px;
}

#right-header {
	padding: 10px;
	display: block;
	margin: 5px;
	position: relative;
	float: right;
	word-spacing: 10px;
}


.icons{
	width: 25px;
	display: inline-block;
}

#profile{
	width: 35px;
	border-style: none;
	border-radius: 50%;
}

#logo {
	position: relative;
	left: 65px;
	bottom: 20px;
	display: block;
	margin-left: auto;
	margin-right:auto;
}

#search {
	display: block;
	position: relative;
	text-align: center;
	top: 200px;
	margin-left: auto;
	margin-right: auto;
	line-height: 60px;
}

#sbar {
	width: 600px;
	height: 40px;
	border: 1px solid rgb(224, 224, 224);
	border-radius: 2px;
	background-image: url(../images/mic.png);
    background-position: 95% 7px;
    background-repeat: no-repeat;
	font-family: arial;
	font-size: 16px;
	text-indent: 17px;
	box-shadow: 0px 8px 13px -10px rgba(0,0,0,0.59);
}

a.button:link, a.button:visited {
	background-color: rgb(244, 244, 244);
	color: rgb(100, 100, 100);
	margin: 3px;
	padding: 10px 15px;
	border-style: none;
	text-align: center;
	text-decoration: none;
}
a.button:hover {
	border: 1px;
	border-color: rgb(200, 200, 200);
	border-style: solid;
	border-radius: 2px;
	box-shadow: 0px 3px 16px -10px rgba(0,0,0,0.59);
	color: black;
}
a.button:active {
	border-color: blue;
}

#footer1 {
	position: fixed;
	margin:0;
	height: 40px;
	width: 100%;
	border: 1px solid rgb(230, 230, 230);
	float: left;
	background-color: rgb(244, 244, 244);
	color: rgb(100, 100, 100);
	bottom: 40px;
	left: 0;
	vertical-align: middle;
}

#footer1-text{
	position: relative;
	margin-left: 10px;
	padding: 15px;
	bottom: 50%;
}

#footer2 {
	position: fixed;
	margin:0;
	height: 40px;
	width: 100%;
	border: 1px solid rgb(230, 230, 230);
	bottom: 0;
	left: 0;
	background-color: rgb(244, 244, 244);
	color: rgb(100, 100, 100);
}
#right-footer{
	position: relative;
	float: right;
	margin-right: 10px;
	padding: 15px;
	bottom: 50%;
	word-spacing: 20px;
}

#left-footer {
	position: relative;
	float: left;
	margin-left: 10px;
	padding: 15px;
	bottom: 50%;
	word-spacing: 20px;
}
